<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mis animales favoritos Tribute</title>
</head>
<body>
  <h1>Animales Favoritos Tribute Page </h1>  
  <p>En la clasificación científica de los seres vivos, los animales constituyen un reino que reúne un amplio grupo de organismos que son eucariotas, heterótrofos, pluricelulares y tisulares. Se caracterizan por su amplia capacidad de movimiento. Animalia es uno de los cinco reinos del dominio Eukaryota, y a él pertenece el ser humano. Cada animal es un ser vivo único, forman parte de nuestra naturaleza y los seres humanos nos hemos adaptado a convivir con ellos. Sin duda son una parte esencial de nuestra existencia y es necesario saber cuidarlos y respetarlos. </p>
  <p> Esta es una página que contiene información sobre mis dos animales favoritos: el tiburón y el panda. Son animales salvajes muy diferentes, uno vive en el océano y el otro en los bosques, uno es considerado como adorable y cariñoso y el otro provoca miedo. A pesar de ello, son seres vivos fantásticos que forman parten de mi mundo.</p>
  <a href="https://es.wikipedia.org/wiki/Animalia">go to Animal wiki</a>
  <h2>Tiburones</h2>
  <p>Los selaquimorfos o selacimorfos son un superorden de condrictios  conocidos comúnmente con el nombre de tiburones o escualos. Algunos grandes escualos, como el tiburón blanco y el toro, son conocidos a veces con el nombre de jaquetones.</p>
  <p>Se caracterizan por ser grandes depredadores, tener esqueleto cartilaginoso y boca ventral. Los tiburones incluyen desde especies pequeñas de las profundidades marinas, hasta el tiburón ballena, el mayor de los peces, el cual se cree puede llegar a medir una longitud de 18 m y se alimenta únicamente de plancton. </p>
  <a href="https://es.wikipedia.org/wiki/Selachimorpha">Go to Shark wiki</a>
  <h3>Oso Panda</h3>
  <p>El panda, oso panda o panda gigante es una especie de mamífero del orden de los carnívoros y aunque hay una gran controversia al respecto, los últimos estudios de su ADN lo engloban entre los miembros de la familia de los osos g, siendo el oso de anteojos su pariente más cercano, si bien este pertenece a la subfamilia de los tremarctinos.</p>
  <p>El principal alimento del panda es el bambú ,en torno al 99 por ciento de su dieta, aunque también se alimenta de frutos, pequeños mamíferos, peces e insectos.​ Es un buen trepador, aunque rara vez se le ve en los árboles. Se adapta a la cautividad y gracias a su pelaje soporta fácilmente las condiciones invernales de su hábitat.</p>
  <a  href="https://es.wikipedia.org/wiki/Ailuropoda_melanoleuca">Go to Panda wiki</a>
</body>
</html>
